<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo-20-20.png" id="logoAP">
        </div>
        <div class="redes">
            <a href=""><img src="../../../assets/Linkedin.png" id="linkedin"></a>
            <a href=""><img src="../../../assets/Twitter.png" id="twitter"></a>
            <a href=""><img src="../../../assets/Instagram.png" id="instagram"></a>
            <a href=""><img src="../../../assets/GitHub.png" id="github"></a>
            <a href=""><img src="../../../assets/Facebook.png" id="facebook"></a>
            <button type="button" class="btn btn-outline-light">INGRESAR</button>
        </div>
    </div>
</div>

